<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;growth_and_differentiation - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/growth_and_differentiation.html#var">Var Details</a> - <a href="datum/component/growth_and_differentiation.html#proc">Proc Details</a></header>
<main>
<h1>growth_and_differentiation <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/growth_and_differentiation.html">growth_and_differentiation</a></aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L9">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 9"/></a></h1>

<hh3 id="growth-and-differentiation-component-used-to-randomly-grow-a-creature-into-a-new-entity-over-its-lifespan">Growth and Differentiation Component: Used to randomly &quot;grow&quot; a creature into a new entity over its lifespan.</hh3>
<p>If we are passed a typepath, we will 100% grow into that type. However, if we are not passed a typepath, we will pick one from a subtype of the parent we were applied to!</p>
<p>Used for spiderlings to turn them into giant spiders.</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/growth_path">growth_path</a></th><td>What this mob turns into when fully grown.</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/growth_probability">growth_probability</a></th><td>Integer - Probability we grow per SPT_PROB</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/growth_time">growth_time</a></th><td>Failover for how much time we have until we fully grow. If passed as null, we eschew setting up the timer.
Remember: We can grow earlier than this if the randomness rolls turn out to be in our favor though!</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/lower_growth_value">lower_growth_value</a></th><td>Integer - The lower bound for the percentage we have to grow before we can differentiate.</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/optional_checks">optional_checks</a></th><td>Optional callback for checks to see if we're okay to grow.</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/optional_grow_behavior">optional_grow_behavior</a></th><td>Optional callback in case we wish to override the default grow() behavior. Assume we supersede the change_mob_type() call if we have this set.</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/percent_grown">percent_grown</a></th><td>Percentage we have grown.</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/ready_to_grow">ready_to_grow</a></th><td>Are we ready to grow? This is just in case we fail our checks and need to wait until the next tick.
We only really need this because we have two competing systems, the timer and the probability-based growth. When one succeeds, this component is considered successful in growth,
and will actively try to grow the mob (only barred by optional checks).</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/timer_id">timer_id</a></th><td>ID for the failover timer.</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#var/upper_growth_value">upper_growth_value</a></th><td>Integer - The upper bound for the percentage we have to grow before we can differentiate.</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#proc/comp_on_round_start">comp_on_round_start</a></th><td>What we invoke when the round starts so we can set up our timer.</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#proc/grow">grow</a></th><td>Grows the mob into its new form.</td></tr>
            <tr><th><a href="datum/component/growth_and_differentiation.html#proc/setup_growth_tracking">setup_growth_tracking</a></th><td>Sets up the failover timer for certain growth.</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/growth_path"><aside class="declaration">var </aside>growth_path
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L11">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 11"/></a></h3>
        <p>What this mob turns into when fully grown.</p><h3 id="var/growth_probability"><aside class="declaration">var </aside>growth_probability
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 16"/></a></h3>
        <p>Integer - Probability we grow per SPT_PROB</p><h3 id="var/growth_time"><aside class="declaration">var </aside>growth_time
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 14"/></a></h3>
        <p>Failover for how much time we have until we fully grow. If passed as null, we eschew setting up the timer.
Remember: We can grow earlier than this if the randomness rolls turn out to be in our favor though!</p><h3 id="var/lower_growth_value"><aside class="declaration">var </aside>lower_growth_value
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L18">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 18"/></a></h3>
        <p>Integer - The lower bound for the percentage we have to grow before we can differentiate.</p><h3 id="var/optional_checks"><aside class="declaration">var </aside>optional_checks
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L22">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 22"/></a></h3>
        <p>Optional callback for checks to see if we're okay to grow.</p><h3 id="var/optional_grow_behavior"><aside class="declaration">var </aside>optional_grow_behavior
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L24">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 24"/></a></h3>
        <p>Optional callback in case we wish to override the default grow() behavior. Assume we supersede the change_mob_type() call if we have this set.</p><h3 id="var/percent_grown"><aside class="declaration">var </aside>percent_grown
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L29">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 29"/></a></h3>
        <p>Percentage we have grown.</p><h3 id="var/ready_to_grow"><aside class="declaration">var </aside>ready_to_grow
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L33">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 33"/></a></h3>
        <p>Are we ready to grow? This is just in case we fail our checks and need to wait until the next tick.
We only really need this because we have two competing systems, the timer and the probability-based growth. When one succeeds, this component is considered successful in growth,
and will actively try to grow the mob (only barred by optional checks).</p><h3 id="var/timer_id"><aside class="declaration">var </aside>timer_id
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L27">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 27"/></a></h3>
        <p>ID for the failover timer.</p><h3 id="var/upper_growth_value"><aside class="declaration">var </aside>upper_growth_value
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 20"/></a></h3>
        <p>Integer - The upper bound for the percentage we have to grow before we can differentiate.</p><h2 id="proc">Proc Details</h2><h3 id="proc/comp_on_round_start"><aside class="declaration">proc </aside>comp_on_round_start<aside>() 
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L62">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 62"/></a></aside>
        </h3>
        <p>What we invoke when the round starts so we can set up our timer.</p><h3 id="proc/grow"><aside class="declaration">proc </aside>grow<aside>(silent) 
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L100">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 100"/></a></aside>
        </h3>
        <p>Grows the mob into its new form.</p><h3 id="proc/setup_growth_tracking"><aside class="declaration">proc </aside>setup_growth_tracking<aside>() 
        
    
            <a href="https://github.com/Pipon1/Station-Harvest/blob/ab6855d3aca3fd62a51ad1f7f238118ae733009a/code/datums/components/growth_and_differentiation.dm#L68">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;growth_and_differentiation.dm 68"/></a></aside>
        </h3>
        <p>Sets up the failover timer for certain growth.</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/Pipon1/Station-Harvest/tree/ab6855d3aca3fd62a51ad1f7f238118ae733009a">ab6855d</a>
        (main) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.7.3</a></footer>
</body>
</html>
